@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMEÇO CABEÇALHO */
body {
    background-image: url(./IMG/Rectangle\ 1.png);
    background-size: contain;
    background-repeat: no-repeat;
    /* width: 1280px;
    height: 4725px; */
    background-color: #1E1E1E;
}

/* header{
    width: 1280px;
    height: 460px;
} */

nav {
    background: rgba(30, 30, 30, 0.47);
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);

    width: 100%;
    height: 65px;
    position: fixed;
    top: 0;
}

@font-face {
    font-family: 'Deftones';
    src: url('ribbon.ttf') format('truetype');
}

header h2 {

    font-family: 'Deftones', sans-serif;
    font-weight: 400;
    font-size: 250px;
    color: #FFFFFF;

    text-shadow: 0px 10px 20px #000000;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 170px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}

nav h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #FFFFFF;
}

nav button {
    background: #1E1E1E;
    border: 1px solid #D3D3D3;
    border-radius: 20px;
    width: 277px;
    height: 40px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 19px;
    color: #FFFFFF;

    cursor: pointer;
}

header h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    color: #FFFFFF;

    margin-left: 25px;
    margin-top: 100px;
}

/* FINAL CABEÇALHO */


/* COMEÇO DO SOBRE */
main {
    margin-top: 76px;
}

main h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    color: #FFFFFF;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

main h2,
main h3,
main h4,
main h5 {
    font-family: 'Abel', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-align: justify;

    padding: 20px;
    word-break: keep-all;
    word-wrap: break-word;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #FFFFFF;
    margin-left: 70px;
    margin-right: 70px;
}

main h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 76px;
}

/* FIM DO SOBRE */


/* COMEÇO DA ÁREA DE INTEGRANTES */

.integrantes {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 7rem;
}

.integrantes h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;

    color: #FFFFFF;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 100px;
}

.cards-integrantes-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 97px;
    gap: 10rem;
}

.cards-integrantes-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;


}

.card-chino h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    margin-top: 20px;

    color: #FFFFFF;

    margin-left: 20px;
}

.card-stephen h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    margin-top: 20px;

    color: #FFFFFF;
}

.card-abe h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    margin-top: 20px;

    color: #FFFFFF;
}

.card-frank h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 20px;

    color: #FFFFFF;
}

.card-sergio h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 45px;

    color: #FFFFFF;
}

.card-chi h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 45px;
    color: #FFFFFF;
}

.card-chino h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin-top: 0px;

    color: #FFFFFF;

    margin-left: 20px;
}

.card-stephen h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin-top: 0px;
    margin-left: 70px;

    color: #FFFFFF;
}

.card-abe h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin-top: 0px;
    margin-left: 0px;

    color: #FFFFFF;
}

.card-frank h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin-top: 0px;
    margin-left: 35px;

    color: #FFFFFF;
}

.card-sergio h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin-top: 0px;
    margin-left: 90px;

    color: #FFFFFF;
}

.card-chi h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin-top: 0px;
    margin-left: 0px;

    color: #FFFFFF;
}

/* FINAL DA ÁREA DE INTEGRANTES */


/* COMEÇO DE MÚSICAS FAVORITAS */

.musicas h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 72px;

    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 150px;
}

.parte-de-baixo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    margin-top: 20px;
    margin-right: 10px;
}

.card-musicas {
    margin-top: 126px;
    display: flex;
    overflow-x: scroll;
    gap: 40px;
    padding-right: 2rem;
    padding-bottom: 0.5rem;
    width: 100%;
    margin-left: 40px;
    
    display: flex;
    justify-content: center;
    align-items: center;

}

.card-musicas::-webkit-scrollbar {
    width: 50px;
}

.card-musicas::-webkit-scrollbar-track {
    background: transparent;
    padding: 10px;
}

.card-musicas::-webkit-scrollbar-thumb {
    background-color: #585757;
    border-radius: 20px;
    width: 30px;
}

.card-musicas h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 48px;

    color: #FFFFFF;
    margin-top: 16px;
}

.card-be-quiet h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 48px;
}

.card-musicas h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 275;
    font-size: 20px;
    line-height: 30px;

    color: #FFFFFF;
}

.card-musicas h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 275;
    font-size: 24px;
    line-height: 30px;

    color: #FFFFFF;

}

.card-diamond-eyes {
    background: #474747;
    border: 1px solid #D3D3D3;
    border-radius: 10px;

    width: 356.83px;
    height: 464.96px;
    padding: 50px;
}

.card-diamond-eyes h2,
.card-risk h2,
.card-be-quiet h2,
.card-beauty-school h2 {
    margin-left: 75px;

}

.card-risk {
    background: #474747;
    border: 1px solid #D3D3D3;
    border-radius: 10px;

    width: 356.83px;
    height: 464.96px;
    padding: 50px;
}

.card-be-quiet {
    background: #474747;
    border: 1px solid #D3D3D3;
    border-radius: 10px;

    width: 356.83px;
    height: 464.96px;
    padding: 50px;
}

.card-beauty-school {
    background: #474747;
    border: 1px solid #D3D3D3;
    border-radius: 10px;

    width: 356.83px;
    height: 464.96px;
    padding: 50px;
}

.card-beauty-school h1 {
    margin-left: 6px;
}

.card-be-quiet h1 {
    margin-right: 0px;
}

.card-beauty-school h1 {
    margin-left: 9px;
}

.card-risk h1 {
    margin-right: 5px;
}

.card-diamond-eyes h1 {
    margin-left: 10px;
}


/* COMEÇO DA ÁREA VÍDEOS */

.thumbs {
    margin-top: 126px;
    display: flex;
    overflow-x: auto;
    gap: 40px;
    padding-bottom: 0.5rem;
    margin-left: 70px;
    margin-right: 70px;
}

.thumbs::-webkit-scrollbar {
    width: 50px;
}

.thumbs::-webkit-scrollbar-track {
    background: transparent;
    padding: 10px;
}

.thumbs::-webkit-scrollbar-thumb {
    background-color: #585757;
    border-radius: 20px;
    width: 30px;
}


.videos h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 72px;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.videos h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 48px;
    color: white;
}

.sextape-capa,
.ystb-capa,
.myownsummer-capa,
.change-capa {
    width: 847px;
    height: 476px;
}

.videos a {
    text-decoration: none;
}

.videos button {
    width: 320px;
    height: 63px;

    background: #1E1E1E;
    border: 1px solid #D3D3D3;
    border-radius: 30px;

    font-family: 'Abel', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 41px;

    color: #FFFFFF;

    text-shadow: 0px 10px 20px #000000;

    padding: 12px 17px;
    gap: 20px;

    display: flex;

    margin-bottom: 17px;
}

.youtube-icon {
    margin-top: 5px;
}

.change-video {
    background-image: url(./IMG/change.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 847px;
    height: 476px;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.myownsummer-video {
    background-image: url(./IMG/myownsummer.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 847px;
    height: 476px;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.ystb-video {
    background-image: url(./IMG/youveseenthebutcher.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 847px;
    height: 476px;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.sextape-video {
    width: 847px;
    height: 476px;
    background-image: url(./IMG/sextape.png);
    background-repeat: no-repeat;
    background-size: contain;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

footer {
    height: 280px;

    background-color: #585757;

    margin-top: 120px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 200px;
}

footer h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.footer-elements{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
}

audio{
    display: flex;
    justify-content: center;
    align-items: center;
}

audio::-webkit-media-controls-panel {
    background-color: #474747;
}

audio::-webkit-media-controls-enclosure {
    background-color: transparent;
}

audio::-webkit-media-controls-current-time-display,audio::-webkit-media-controls-time-remaining-display {
    text-shadow: none;
}